.players {
	background-color: white;
	height: $height;
	padding: 4px;
	overflow: auto;
	border-radius: 4px;

	.player__cards {
		display: flex;
		flex-direction: column;

		border-radius: 4px;
		padding: 5px;
		h4 {
			font-size: 1.1rem;
		}
	}

	.pen {
		animation: mymove 2s infinite ease-in-out;
		margin-right: 0.4rem;
		padding: 0.4rem;
	}

	@keyframes mymove {
		0% {
			transform: rotate(0deg);
		}
		55% {
			transform: rotate(-30deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}
}
